wheel
rust 
aiohttp
https://github.com/Anshusharma75/jhamak/archive/refs/heads/master.zip
hachoir
Pillow
pyrogram
tgcrypto
https://github.com/Anshusharma75/gandusaala/archive/refs/heads/master.zip
hurry.filesize
python-telegram-bot
python-dotenv
beautifulsoup4>=4.8.2,<4.8.10
bs4
lxml
requests
messages
js2py
https://github.com/Anshusharma75/prabhu/archive/refs/heads/master.zip
